logs
*.log
coverage
.nyc_output
node_modules
package-lock.json

# Project specific
.sync
docs
scripts
staging
wiki
TODO.md
jsdoc.conf.json
json
.nvmrc
.syncthing*
lcov.info
.babelrc
.eslintignore
.eslintrc
.languagebabel
.tern-project
